NEXT_PUBLIC_APP_VERSION=

NEXT_PUBLIC_APP_API_BASE_URL=
NEXT_PUBLIC_APP_BASE_URL=

NEXT_PUBLIC_KEY_CLOAK_CLIENT_ID=
NEXT_PUBLIC_KEYCLOAK_REDIRECT_URI=

NEXT_PUBLIC_SERVER_MODE=
NEXT_PUBLIC_WORK_D_DEV=
NEXT_PUBLIC_WORK_D_PROD=